:root {
    /* Color Variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    /* border radius */
    --radius: 0.2rem;   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: var(--clr-gray100);
}

/* Navigation Bar Styling */
.nav-list {
    background-color: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item {
    list-style: none;
    margin-right: 3rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
    font-weight: bold;
    font-size: large;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
}

.nav-item a:hover {
    color: var(--clr-primary-hover);
    transition: color 0.3s ease;
}


/* Logo Image Styling */
.MiniLogo {
    width: 80px;
    height: 80px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8%;
    background-color:#aff7d8; 
    gap: 3rem;
}

/* Left side (TEXT) */
.about-left {
    flex: 1;
}

.about-left h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.about-left p {
    font-size: 1.3rem;
    line-height: 1.7;
    color:black;
}

/* Right side (IMAGE) */
.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-right img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}

/*Mission and Vision Section*/
.info-box {
    background: white;
    margin: 2rem auto;
    padding: 2rem 3rem;
    width: 80%;
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px var(--clr-gray200);
}

.info-box h3 {
    color:#29e6a7;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-box p {
    font-size: 1.2rem;
    line-height: 1.7;
}

.info-box ul {
    margin-left: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7;
}

/*Offer Section Styling*/
.offer-section {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px var(--clr-gray200)
}

.offer-left img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}

.offer-right {
    flex: 1;
}

.offer-right h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color:#6aeeb5
}

.offer-right ul {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-left: 1.5rem;
}
