:root {
    /* Color Variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    /* border radius */
    --radius: 0.2rem;   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--clr-gray100);
}

:root {
    /* Color Variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    /* border radius */
    --radius: 0.2rem;   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: var(--clr-gray100);
}

/* Navigation Bar Styling */
.nav-list {
    background-color: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 3rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
    font-weight: bold;
    font-size: large;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
}

.nav-item a:hover {
    color: var(--clr-primary-hover);
    transition: color 0.3s ease;
}


/* Logo Image Styling */
.MiniLogo {
    width: 50px;
    height: auto;
}

/* signup Container Styling */
.signup-container {
    background-color: white;
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    max-width: 400px;
    margin: 5rem auto;
    text-align: center;
}

.signup-container h2 {
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
    border-color: var(--clr-primary)
}

.signup-container form {
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

.signup-container input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--clr-gray200);
    border-radius: var(--radius);
    font-size: 1rem;
}

.signup-container input:focus {
    outline: 2px solid var(--clr-primary-hover);
}

input[type="submit"] {
    font-size: 1rem;
    font-weight: bold;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    max-width: fit-content;
    justify-content: center;
    margin: 0px auto;
}

input[type="submit"]:hover {
    background: var(--clr-primary-hover);
    transition: background 0.3s ease;
}

/* Main Box */
div {
    max-width: 550px;
    margin: 3rem auto;
    background: white;
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

select,
input[type="text"],
textarea {
    width: 100%;
    padding: 0.9rem;
    border: 1px solid var(--clr-gray200);
    border-radius: var(--radius);
    font-size: 1rem;
    background: var(--clr-gray100);
}

textarea {
    height: 130px;
    resize: none;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

/* Spoiler Box */
.spoiler-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*Creatwe Post Button*/
button {
    padding: 0.9rem;
    background: var(--clr-primary);
    border: none;
    border-radius: var(--radius);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--clr-primary-hover);
}
