:root {
    /* Color Variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    /* border radius */
    --radius: 0.2rem;   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--clr-gray100);
}

/* Navigation Bar*/
navbar {
    background: white;
    width: 100%;
    display: block;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
}

.nav-item a:hover {
    color: var(--clr-primary);
}

/* Main Box */
div {
    max-width: 550px;
    margin: 3rem auto;
    background: white;
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

select,
input[type="text"],
textarea {
    width: 100%;
    padding: 0.9rem;
    border: 1px solid var(--clr-gray200);
    border-radius: var(--radius);
    font-size: 1rem;
    background: var(--clr-gray100);
}

textarea {
    height: 130px;
    resize: none;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

/* Spoiler Box */
.spoiler-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*Creatwe Post Button*/
button {
    padding: 0.9rem;
    background: var(--clr-primary);
    border: none;
    border-radius: var(--radius);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--clr-primary-hover);
}
