:root {
    /* Color Variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    /* border radius */
    --radius: 0.2rem;   
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: var(--clr-gray100);
}

/* Navigation Bar Styling */
.nav-list {
    background-color: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 3rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
    font-weight: bold;
    font-size: large;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
}

.nav-item a:hover {
    color: var(--clr-primary-hover);
    transition: color 0.3s ease;
}


/* Logo Image Styling */
.MiniLogo {
    width: 50px;
    height: auto;
}

/*Create Post Button Styling*/
.create-button {

    background-color: var(--clr-primary);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.spoiler-content {
    display: none;
}

.spoiler-control {
    display: none;
}

.spoiler-control:checked ~ .spoiler-block{
    display: none;
}

.spoiler-control:checked ~ .spoiler-content {
    display: block;
}

.spoiler-block {
    cursor: pointer;
    background:#6aeeb5;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px 0;
    user-select: none;
}
            
.spoiler-block:hover {
    background: var(--clr-primary-hover);
}
