<!DOCTYPE html>
<html>
  <head>
    <title>About - Streamline</title>
    <link rel="stylesheet" href = "/static/signupStyle.css">
  </head>
  <body>
    <navbar>
      <ul class ="nav-list">
        <li class ="nav-item">
          <a href="/">
            <img src = "/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
          </a>
        </li>
        {% if userid %}
        <li class ="nav-item">
          <a href="/discover">Discover</a>
        </li>
        <li class ="nav-item">
          <a href="/my_feed">My Feed</a>
        </li>
        <li class ="nav-item"> 
          <a href="/my_profile">My Profile</a>
        </li>
        {% endif %}
        {% if not userid %}
          <li class ="nav-item">
            <a href="/login">Login</a>
          </li>
          <li class ="nav-item">
            <a href="/signup">Sign Up</a>
          </li>
        {% else %}
          <li class ="nav-item">
            <a href="/logout">Logout</a>
          </li>
        {% endif %}
      </ul>
    </navbar>

    <div>
      <div>
        <h2>About Streamline</h2>
        <div>
          <p>Your one-stop destination to explore, review, and share your favorite TV shows.</p>
          
          <div>
            <h3>Our Mission</h3>
            <p>Streamline connects TV and Movie lovers around the world through a shared
               passion for storytelling.  Whether you're discovering a new favorite media
               or leaving a review for one you love, Streamline helps you experience
               entertainment in a smarter, more interactive way.
            </p>
          </div>

          <div>
            <h3>What We Offer</h3>
            <ul>
              <li>Browse trending and top-rated shows across genres</li>
              <li>Read reviews and share your own thoughts</li>
              <li>Track media you've watched or plan to watch</li>
              <li>Engage with a global community of Media enthusiasts</li>
              <li>Share your watchlist, feedback, and reviews with your friends</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
