<!DOCTYPE html>
<html>
  <head>
    <title>About - Streamline</title>
    <link rel="stylesheet" href = "/static/aboutStyle.css">
  </head>

  <body>
    <!--Navigation Bar-->
    <navbar>
      <ul class ="nav-list">
        <li class ="nav-item">
          <a href="/">
            <img src = "/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
          </a>
        </li>
        <li class ="nav-item">
          <a href="/my_feed">My Feed</a>
        </li>
        <li class ="nav-item">
          <a href="/my_profile">My Profile</a>
        </li>
        <li class ="nav-item">
          <a href="/login">Login</a>
        </li>
        <li class ="nav-item">
          <a href="/signup">Sign Up</a>
        </li> 
      </ul>
    </navbar>

    <!-- About Section-->
    <section class="about-container">
       <div class="about-left">
        <h2>About Streamline</h2>
          <p>Your one-stop destination to explore, review, and share your favorite TV shows. At Streamline, we believe entertainment is more than just something you watch — it’s something you share. Our platform gives you the tools to discover new stories, revisit your favorites, and connect with people who love the same shows and movies as you.</p>
        </div>
        <div class="about-right">
          <img src="/static/images/aboutright.jpg" alt="About Streamline">
        </div>
    </section>

    <!--Mission-->
    <section class="info-box">
      <h3>Our Mission</h3>
      <p>Streamline connects TV and Movie lovers around the world through a shared
        passion for storytelling.  Whether you're discovering a new favorite media
        or leaving a review for one you love, Streamline helps you experience
        entertainment in a smarter, more interactive way.</p>
    </section>

    <!--Vision-->
    <section class="info-box">
      <h3>Our Vision</h3>
      <p>To build a space where TV and Movie fans can:</p>
      <ul>
        <li>Discover new and trending shows</li>
        <li>Share their opinions and reviews</li>
        <li>Connect with a community of like-minded enthusiasts</li>
        <li>Enhance their viewing experience through interaction and engagement</li>
        <li>Spark conversations through meaningful reviews</li>
        <li>Discover hidden gems they might have otherwise missed</li>
      </ul>
    </section>

    <!--What We Offer-->

    <section class="offer-section">
      <div class="offer-left">
        <img src="/static/images/review.gif" alt="What We Offer">
      </div>

      <div class="offer-right">
        <h3>What We Offer</h3>
        <ul>
          <li>Personalized user profiles that let you highlight what you're watching, what you've finished, and what you plan to watch</li>
          <li>A wide collection of reviews where you can read honest opinions and share your own insights</li>
          <li>An engaging community space where you can join conversations and comment on others’ reviews</li>
          <li> Option to mark your posts as containing spoilers or not</li>
        </ul>
      </div>
    </section>
    
    <!--Join Us-->
    <div class="info-box">
      <h3>Join Us</h3>
      <p>Whether you're a casual viewer or a passionate binge-watcher, Streamline helps you get the most out of every show you watch. Start exploring, reviewing, and sharing your journey through entertainment — all in one place.</p>
    </div>

  </body>
</html>
