<!DOCTYPE html>
<html>
    <head>
        <title>Create Post - Streamline</title>
        <link rel="stylesheet" href="/static/createpostStyle.css">
    </head>
    <body>
        <navbar>
            <ul class ="nav-list">
            <li class ="nav-item">
                <a href="/my_feed">Return To Feed</a>
            </li>
            </ul>
        </navbar>

        <div>
            <h2>Create A New Post</h2>
            <form method="POST">
                <select name="mediaid">
                    <option value="">Select Your Media</option>
                    {% for media in tvmovies %}
                    <option value="{{media.MediaID}}">{{ media.Title }}</option>
                    {% endfor %}
                </select>

                <input type="text" name="title" placeholder="Title Goes Here" required maxlength="40" pattern="^[a-zA-Z0-9_ ]+$">
                <textarea name="content" placeholder="What do you want to say?" required maxlength="250" pattern="^[a-zA-Z0-9_ ]+$"></textarea>

                <div class="spoiler-row">
                    <label for="spoiler">Is it a spoiler?</label>
                    <input type="checkbox" name="spoiler" id="spoiler">
                </div>
                <button type="submit">Create Post</button>
            </form>
        </div>

    </body>
</html>