<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="/static/signupStyle.css">
    </head>
    <body>
        <navbar>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/">
                        <img src="/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </navbar>

        <div class="feed-container">
            <!-- TODO: ADD DUMMY DATA FOR ACTUAL FUNCTIONALITY-->
            <div class="feed-box">
                <h2>My Feed</h2>
            </div>
        </div>
    </body>
</html>