<!DOCTYPE html>
<html>
    <head>
        <title>Feed - Streamline</title>
        <link rel="stylesheet" href="/static/indexStyle.css">

    </head>
    <body>
        <navbar>
            <ul class ="nav-list">
                <li class ="nav-item">
                <a href="/">
                    <img src = "/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
                </a>
                </li>
                <li class ="nav-item">
                    <a href="/discover">Discover</a>
                </li>
                <li class ="nav-item">
                    <a href="/my_profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>
                <li class ="nav-item">
                    <a href="/login">Login</a>
                </li>
                <li class ="nav-item">
                    <a href="/signup">Sign Up</a>
                </li>
            </ul>
        </navbar>

        <div class="feed-container">
            <div class="feed-box">
                <h2>My Feed</h2>
            </div>
            {% if posts %}
                {% for post in posts %}
                <div class="post-box">
                    <h2>{{post.media_title}} | {{post.post_title}}</h2>
                    <div>
                        <p>Posted By: {{post.username}}</p>
                        <p>Posted On: {{post.post_date}}</p>
                    </div>

                    <p>{{post.post_content}}</p>

                    {% if post.userid|string == request.cookies.get('userloggedin')|string %}
                    <form method="POST">
                        <input type="hidden" name="deletepostid" value="{{ post.postid }}">
                        <button type="submit">Delete Post</button>
                    </form>
                    {% endif %}
                    <div class="comments">
                        {% set comments = getPostComments(post.postid) %}
                        {% if comments %}
                            {% for comment in comments %}
                            <div class="comment">
                                <p><strong>{{ comment.username }}</strong>: {{ comment.comment_content }}</p>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No one has commented yet.</p>
                        {% endif %}

                        <form method="POST">
                            <input type="hidden" name="postid" value="{{post.postid}}">
                            <input class="make-comment" type="text" name="content" placeholder="Add a comment" required>
                            <button class="comment-button" type="submit">Post Comment</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <p>No posts to display</p>
            {% endif %}
        </div>
        <a href="/create_post"><button class="create-button">Create Post</button></a>
    </body>
</html>