<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Streamline</title>
    <link rel="stylesheet" href="/static/indexStyle.css">
  </head>
  <body>
    <navbar>
        <ul class ="nav-list">
            <li class ="nav-item">
            <a href="/">
                <img src = "/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
            </a>
            </li>
            <li class ="nav-item">
                <a href="/discover">Discover</a>
            </li>
            <li class ="nav-item">
                <a href="/my_profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a href="/my_feed">My Feed</a>
            </li>
            <li class="nav-item">
                <a href="/about">About</a>
            </li>
            <li class ="nav-item">
                <a href="/login">Login</a>
            </li>
            <li class ="nav-item">
                <a href="/signup">Sign Up</a>
            </li>
        </ul>
        </navbar>

        <div class="main-page">
          <div class="intro">
            <h1>Welcome to Streamline</h1>
            <div class="content">
              <p >Your Personal TV Show Experience</p>

              <div class="info-boxes">
                <div class="info-box">
                  <h3>Track Your Watching Habits</h3>
                  <p>Keep a personal record of what you're watching, want to watch, and have finished.</p>
                </div>
                <div class="info-box">
                  <h3>Share Reviews On What You Watch</h3>
                  <p>Write reviews and share your thoughts about your favorite TV shows and movies.</p>
                </div>
                <div class="info-box">
                  <h3>Connect With Other Users</h3>
                  <p>Follow other users and discover what they're watching and discussing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>