<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{  media.media_title  }} - Streamline</title>
  <link rel="stylesheet" href="/static/profileStyle.css" />
        <style>
            .spoiler-content {
                display: none;
            }

            .spoiler-control {
                display: none;
            }

            .spoiler-control:checked ~ .spoiler-block{
                display: none;
            }

            .spoiler-control:checked ~ .spoiler-content {
                display: block;
            }


            .spoiler-block {
                cursor: pointer;
                background:#6aeeb5;
                color: white;
                padding: 8px 12px;
                border-radius: 6px;
                display: inline-block;
                margin: 10px 0;
                user-select: none;
            }
            
            .spoiler-block:hover {
                background: #29e6a7;
            }

        </style>
</head>
    <body>
        <navbar>
        <ul class ="nav-list">
            <li class ="nav-item">
            <a href="/">
                <img src = "/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
            </a>
            </li>
            <li class ="nav-item">
            <a href="/discover">Discover</a>
            </li>
            <li class="nav-item">
            <a href="/search_users">Search Users</a>
            </li>
            <li class ="nav-item">
            <a href="/my_feed">My Feed</a>
            </li>
            <li class ="nav-item"> 
            <a href="/my_profile">My Profile</a>
            </li>
            <li class="nav-item">
            <a href="/about">About</a>
            </li>
            {% if not userid %}
            <li class ="nav-item">
                <a href="/login">Login</a>
            </li>
            <li class ="nav-item">
                <a href="/signup">Sign Up</a>
            </li>
            {% else %}
            <li class ="nav-item">
                <a href="/logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </navbar>

        <div class="media-info">
            <h1 class="media-title">{{media.media_title}}</h1>
            <h2 class="media-rating">
                Overall Rating:
                {% if averagerating == 1 %}
                    480p
                {% elif averagerating == 2 %}
                    780p
                {% elif averagerating == 3 %}
                    1080p
                {% elif averagerating == 4 %}
                    4K
                {% endif %}
            </h2>
            <h3 class="media-info">{{media.media_genre}} | {{media.media_year}} | {{media.media_type}}</h3>
            <hr>
        </div>
        <h2>Posts</h2>
        <div class="feed-container">
            {% if posts %}
                {% for post in posts %}
                    {% if post.spoiler %}
                        <div class="post-box">
                            <h3>{{post.media_title}} | 
                                {{post.post_title}} | Rating: 
                                <b>
                                {% if post.rating == 1 %}
                                    480p
                                {% elif post.rating == 2 %}
                                    780p
                                {% elif post.rating == 3 %}
                                    1080p
                                {% elif post.rating == 4 %} 
                                    4K
                                {% endif %}
                                </b>
                            </h3>
                            <div>
                                {% if post.userid == userid %}
                                    <p>Posted By: <a href="{{ url_for('my_profile') }}">{{post.username}}</a></p>
                                {% else %}
                                    <p>Posted By: <a href="{{ url_for('other_user_profile', user_id=post.userid) }}">{{post.username}}</a></p>
                                {% endif %}
                                <p>Posted On: {{post.post_date}}</p>
                            </div>
                            <div class ="spoilers">
                                <input type="checkbox" id="spoiler-{{ post.postid }}" class="spoiler-control">
                                <label for="spoiler-{{ post.postid }}" class="spoiler-block">Click to Reveal Spoiler</label>

                                <div class="spoiler-content">
                                <p>{{post.post_content}}</p>

                                {% if post.userid == userid %}
                                <form method="POST">
                                    <input type="hidden" name="deletepostid" value="{{ post.postid }}">
                                    <button type="submit">Delete Post</button>
                                </form>
                                {% endif %}
                                <div class="comments">
                                    {% set comments = getPostComments(post.postid) %}
                                    {% if comments %}
                                        {% for comment in comments %}
                                            <div class="comment">
                                                <p>
                                                    <strong>
                                                    {% if comment.userid == userid %}
                                                        <a href="{{ url_for('my_profile') }}">{{ comment.username }}</a>
                                                    {% else %}
                                                        <a href="{{ url_for('other_user_profile', user_id=comment.userid) }}">{{ comment.username }}</a>
                                                    {% endif %}
                                                    </strong>
                                                    : {{ comment.comment_content }}
                                                </p>
                                                {% if comment.userid == userid %}
                                                <form method="POST" action="/delete_comment/{{ comment.commentid }}">
                                                    <button type="submit" class="delete-comment-btn">Delete</button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>No one has commented yet.</p>
                                    {% endif %}

                                    <form method="POST">
                                        <input type="hidden" name="postid" value="{{post.postid}}">
                                        <input class="make-comment" type="text" name="content" placeholder="Add a comment" maxlength="100" required>
                                        <button class="comment-button" type="submit">Post Comment</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="post-box">
                            <h3>{{post.media_title}} | 
                                {{post.post_title}} | Rating: 
                                <b>
                                {% if post.rating == 1 %}
                                    480p
                                {% elif post.rating == 2 %}
                                    780p
                                {% elif post.rating == 3 %}
                                    1080p
                                {% elif post.rating == 4 %}
                                    4K
                                {% endif %}
                                </b>
                            </h3>
                            <div>
                                {% if post.userid == userid %}
                                    <p>Posted By: <a href="{{ url_for('my_profile') }}">{{post.username}}</a></p>
                                {% else %}
                                    <p>Posted By: <a href="{{ url_for('other_user_profile', user_id=post.userid) }}">{{post.username}}</a></p>
                                {% endif %}
                                <p>Posted On: {{post.post_date}}</p>
                            </div>

                            <p>{{post.post_content}}</p>

                            {% if post.userid == userid %}
                            <form method="POST">
                                <input type="hidden" name="deletepostid" value="{{ post.postid }}">
                                <button type="submit">Delete Post</button>
                            </form>
                            {% endif %}
                            <div class="comments">
                                {% set comments = getPostComments(post.postid) %}
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="comment">
                                            <p>
                                                <strong>
                                                {% if comment.userid == userid %}
                                                    <a href="{{ url_for('my_profile') }}">{{ comment.username }}</a>
                                                {% else %}
                                                    <a href="{{ url_for('other_user_profile', user_id=comment.userid) }}">{{ comment.username }}</a>
                                                {% endif %}
                                                </strong>
                                                : {{ comment.comment_content }}
                                            </p>
                                            {% if comment.userid == userid %}
                                            <form method="POST" action="/delete_comment/{{ comment.commentid }}">
                                                <button type="submit" class="delete-comment-btn">Delete</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No one has commented yet.</p>
                                {% endif %}

                                <form method="POST">
                                    <input type="hidden" name="postid" value="{{post.postid}}">
                                    <input class="make-comment" type="text" name="content" placeholder="Add a comment" maxlength="100" required>
                                    <button class="comment-button" type="submit">Post Comment</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                
                {% endfor %}
            {% else %}
            <p>No posts to display</p>
            {% endif %}
        </div>
    </body>
  </section>
</html>