<!DOCTYPE html>
<html>
    <head>
        <title>Signup - Streamline</title>
        <link rel="stylesheet" href="/static/signupStyle.css">
    </head>
    <body>
    <navbar>
      <ul class ="nav-list">
        <li class ="nav-item">
          <a href="/">
            <img src = "/static/images/Logo.png" alt="Logo Image" class="MiniLogo">
          </a>
        </li>
        <li class="nav-item">
          <a href="/about">About</a>
        </li>
        <li class ="nav-item">
            <a href="/login">Login</a>
        </li>
      </ul>
    </navbar>

        <div class="signup-container">
            <div class="signup-box">
                <h2>Signup</h2>
                <form method="POST">
                    <input type="text" name="FName" required placeholder="First Name" minlength="2" pattern="^[a-zA-Z]+$">
                    <input type="text" name="LName" required placeholder="Last Name" minlength="2" pattern="^[a-zA-Z]+$">
                    <input type="text" name="UName" required placeholder="Username" minlength="2" pattern="^[a-zA-Z0-9_]+$">
                    <input type="email" name="Email" required placeholder="Email">
                    <input type="password" name="PWord" required placeholder="Password" minlength="8" pattern="^[a-zA-Z0-9]+$">
                    <input type="submit" class="btn-primary" value="Sign up">
                </form>
            </div>
        </div>
    </body>
</html> 